NET "clk_kb" CLOCK_DEDICATED_ROUTE = FALSE;

NET "clk_kb" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "data_kb" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
