INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "clock" LOC = C9;
NET "reset" LOC = L13;
NET "reset" IOSTANDARD = LVTTL;
NET "reset" PULLDOWN;

NET "PS2_CLK" LOC = "G14"   |   IOSTANDARD = LVCMOS33   | DRIVE = 8   | SLEW = SLOW;
NET "PS2_DATA" LOC = "G13"  |   IOSTANDARD = LVCMOS33   | DRIVE = 8   | SLEW = SLOW;
